go 1.21.6

use (
	./nearest-exit-from-entrance-in-maze/go
	./rotting-oranges/go
	./kth-largest-element-in-an-array/go
	./house-robber/go
	./smallest-number-in-infinite-set/go
	./maximum-subsequence-score/go
)
